/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

.homePage {
    overflow-x: hidden;
}
.why_our_product {
    position: relative;
    padding: 80px 0;
}
.why_our_product::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fefbec;
    z-index: -1;
}
.why_our_product .abs_img {
    position: absolute;
    top: -330px;
    right: 0;
    z-index: -1;
}
.why_our_product .left_content {
    max-width: 450px;
    margin-top: -400px;
}
.why_our_product .left_content .subscribe {
    margin-top: 45px;
}
.why_our_product .left_content .subscribe input {
    border: 1px solid #bf7e2f;
    border-radius: 10px;
    background-color: #fff;
    margin: 15px 0;
    padding-left: 15px;
    width: 352px;
    height: 58px;
    display: block;
}
.special_products_sec {
    background-color: #acd3c1;
}
.homePage .social_media {
    margin-top: 200px;
    text-align: center;
}
.homePage .social_media .title35 {
    margin-bottom: 20px;
}
.homePage .social_media p {
    margin-top: 18px;
    margin-bottom: 40px;
}

.homePage .white {
    padding: 50px 0;
}
.homePage .white .content {
    max-width: 550px;
    margin-left: 60px;
}
.homePage .content .title35 {
    margin: 20px 0;
    font-weight: bold;
}

.homePage .our_products {
    background-color: #fefbec;
    padding: 85px 0;
}
.homePage .our_products .content {
    max-width: 450px;
}
.homePage .our_products ul {
    margin: 30px 0;
}
.homePage .our_products li {
    margin-bottom: 20px;
}
.homePage .our_products li img {
    margin-right: 15px;
}
.homePage .our_products .img {
    border-radius: 15px;
    height: 440px;
    width: 50%;
    overflow: hidden;
}
.homePage .blog_section {
    padding-top: 22px;
    padding-bottom: 100px;
}
.homePage .blog_section .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 45px 1fr 45px 1fr 45px 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 45px;
    margin-top: 20px;
}

.homePage .form_section {
    margin-bottom: 100px;
    padding-top: 40px;
}
.homePage .form_section .form {
    margin-left: 30px;
}
.homePage .form_section .img {
    border-radius: 10px;
    width: 549px;
    height: 549px;
    border: 5px solid #fff;
    -webkit-box-shadow: 0 10px 25px #19191d1f;
    box-shadow: 0 10px 25px #19191d1f;
}
.homePage .form_section .img-holder {
    position: relative;
}

.special_products_sec img {
    width: 36%;
}

@media screen and (max-width: 1330px) {
    .why_our_product .left_content {
        max-width: 390px;
    }
    .homePage .blog_section .grid {
        grid-gap: 15px;
    }
}
@media screen and (max-width: 1260px) {
    .why_our_product .left_content {
        margin-top: 0;
        padding-bottom: 60px;
        max-width: none;
    }
    .why_our_product .left_content .subscribe {
        margin-top: 26px;
    }
    .homePage .white .content {
        margin-left: 13px;
    }
    .cards_subscribe_sec {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
}
@media screen and (max-width: 1000px) {
    .homePage .blog_section .grid {
        -ms-grid-columns: 1fr 15px 1fr;
        grid-template-columns: repeat(2, 1fr);
    }
    .homePage .form_section .img {
        width: 333px;
        height: 333px;
    }
    .homePage .form_section {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .why_our_product .abs_img {
        display: none;
    }
}
@media screen and (max-width: 900px) {
    .special_products_sec img {
        width: auto;
    }
    .homePage .white {
        padding: 50px 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .homePage .white .content {
        max-width: none;
        margin-left: 0;
        margin-top: 20px;
    }
    .homePage .our_products .wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .homePage .our_products .content {
        max-width: none;
        margin-bottom: 30px;
    }
    .homePage .our_products .img {
        height: auto;
        width: auto;
    }
    .homePage .our_products {
        padding: 40px 0;
    }
}
@media screen and (max-width: 860px) {
    .why_our_product {
        padding-bottom: 0;
    }
    .social_media .arrow_button {
        display: none;
    }
}
@media screen and (max-width: 700px) {
    .homePage .form_section {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .homePage .form_section .form {
        margin-left: 0;
        margin-top: 55px;
    }
    .homePage .social_media {
        margin-top: 115px;
    }
    .homePage .social_media .sm {
        border-top: #bf7e2f 3px solid;
        border-bottom: #bf7e2f 3px solid;
        padding: 12px 20px;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        margin: auto;
    }
    .homePage .social_media .sm path {
        fill: #bf7e2f !important;
    }
    .homePage .social_media .sm a:nth-child(2) {
        margin: 0 30px !important;
    }
}

@media screen and (max-width: 500px) {
    .homePage .blog_section .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width: 400px) {
    .why_our_product .left_content .subscribe input {
        width: 100%;
    }
    .homePage .content .title35 {
        margin: 10px 0;
    }
    .homePage .our_products li {
        margin-bottom: 11px;
    }
    .homePage .our_products ul {
        margin: 20px 0;
    }
    .homePage .form_section .img {
        width: 293px;
        height: 293px;
    }
    .why_our_product .left_content .subscribe {
        text-align: center;
    }
    .why_our_product .left_content .subscribe div {
        text-align: left;
    }
}
