/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

.header {
    background-color: #acd3c1;
    color: #fff;
    position: fixed;
    width: 100%;
    height: 66px;
    top: 0;
    left: 0;
    z-index: 2200;
}
.navbar .sm {
    display: none;
}
.header .wrapper {
    position: relative;
}
.languages.mobile {
    display: none;
}
.mobile_logo_text {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 20px;
    display: none;
}
.mobile_logo_img {
    display: none;
}
.menu_btn {
    display: none;
}
.header .logo {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 5px;
    width: auto;
    height: auto;
}
.header .languages {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    cursor: default;
    text-transform: uppercase;
}
.header .languages .drop {
    position: absolute;
    left: 0;
    top: 100%;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.header .languages:hover .drop {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}
.header .languages .on {
    position: relative;
}
.header .languages .on::after {
    right: -14px;
    top: 0;
    width: 13px;
    height: 13px;
    background: url(/assets/images/icons/triangle.svg) no-repeat;
    background-position: center;
    background-size: contain;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.header .languages:hover .on::after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.header .navbar {
    /* margin-left: -153px; */
    margin-left: 13px;
    display: flex;
}
.header .nav_link {
    margin: 0 35px;
    position: relative;
}
/* .header .navbar .nav_link:nth-child(5) {
    margin-right: 200px;
} */
.header .navbar .nav_link:nth-child(4) {
    margin-right: 200px;
}

.header .nav_link::after {
    left: 50%;
    bottom: -10px;
    width: 16px;
    height: 5px;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    -webkit-transform: translateX(-50%) scaleX(0);
    -ms-transform: translateX(-50%) scaleX(0);
    transform: translateX(-50%) scaleX(0);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
}
.header .nav_link:hover::after,
.header .nav_link.active::after {
    -webkit-transform: translateX(-50%) scaleX(1);
    -ms-transform: translateX(-50%) scaleX(1);
    transform: translateX(-50%) scaleX(1);
}

@media screen and (max-width: 1260px) {
    .header .nav_link {
        margin: 0 17px;
    }
    /* .header .navbar .nav_link:nth-child(5) {
        margin-right: 153px;
    } */
    .header .navbar {
        /* margin-left: -112px; */
        margin-left: 17px;
    }
}
@media screen and (max-width: 1200px) {
    .header .navbar {
        /* margin-left: -102px; */
        margin-left: 14px;
    }
}

@media screen and (max-width: 900px) {
    .header {
        height: 50px;
        -webkit-box-shadow: 0 5px 15px #0c1b2e21;
        box-shadow: 0 5px 15px #0c1b2e21;
    }

    .header .logo {
        display: none;
    }
    .mobile_logo_text {
        display: block;
    }
    .mobile_logo_img {
        display: block;
        width: 122px;
        margin: 10px 0;
        margin-left: 50px;
    }
    .header .navbar {
        position: absolute;
        margin: 0;
        left: -30px;
        top: 0;
        height: 100vh;
        background-color: #444444;
        color: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
        z-index: 1000;
    }
    .navbar .sm {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin-left: 50px;
        margin-top: 50px;
    }
    .navbar .sm a:nth-child(2) {
        margin: 0 27px !important;
    }
    .navbar .sm path {
        fill: #fff;
    }
    .header .navbar.open {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    .header .nav_link {
        margin: 0px;
        padding: 16px 10px;
        padding-left: 50px;
        width: 330px;
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
    }
    .header .nav_link::after {
        display: none;
    }
    .header .nav_link:hover {
        background-color: #bf7e2f;
    }
    .header .nav_link.active {
        color: #bf7e2f;
    }
    .header .nav_link.active:hover {
        background-color: transparent;
    }
    .header .navbar .nav_link:nth-child(5) {
        margin: 0;
    }
    .header .navbar .nav_link:nth-child(4) {
        margin: 0;
    }
    .header .wrapper {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }
    .menu_btn {
        display: inline-block;
    }
    .menu_btn .span {
        height: 2px;
        width: 30px;
        background-color: #fff;
        margin: 4px 0;
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
    }
    .menu_btn.clicked .span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        margin: -6px 0;
        width: 30px;
    }
    .menu_btn.clicked .span:nth-child(2) {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
    .menu_btn.clicked .span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        margin: -6px 0;
    }
    .menu_btn.clicked {
        margin-bottom: -9px;
    }
    .header .languages {
        display: none;
    }
    .languages.mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        position: relative;
        top: auto;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        right: auto;
        margin-left: 50px;
        padding-top: 20px;
    }
    .languages.mobile .on {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        margin-right: 30px;
    }
    .languages.mobile .drop {
        position: relative;
        left: auto !important;
        top: auto !important;
        -webkit-transform: none !important;
        -ms-transform: none !important;
        transform: none !important;
        opacity: 0.2 !important;
    }
    .header .languages .on::after {
        display: none;
    }
}
@media screen and (max-width: 500px) {
    .navbar .sm {
        margin-left: 18px;
        padding: 10px 12px;
    }
}
@media screen and (max-width: 600px) {
    .header {
        font-size: 14px;
        height: 52px;
    }
    .header .logo {
        width: 100px;
    }
}
@media screen and (max-width: 420px) {
    .header .logo {
        width: 73px;
        top: 2px;
    }
    .header .languages .on::after {
        right: -11px;
        width: 10px;
        height: 10px;
    }
    .header .nav_link {
        width: 280px;
    }
    .mobile_logo_img {
        width: 74px;
        margin-top: 20px;
    }
}
@media screen and (max-height: 600px) {
    .header .nav_link {
        padding: 11px 10px;
    }
    .navbar .sm {
        margin-top: 36px;
    }
}
