.specialOffers {
  padding-bottom: 250px;
}
.specialOffers .texts {
  max-width: 470px;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 60px;
  text-align: center;
}
.specialOffers .title35 {
  margin-bottom: 30px;
}
.specialOffers .blob {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.special_slider {
  width: 400px;
  margin: auto;
  text-align: center;
}
.special_slider .img {
  height: 200px;
  margin-bottom: 46px;
}
.special_slider .img img {
  height: 100%;
  width: auto;
}
.special_slider .offer_item button {
  width: 264px;
  height: 69px;
  border-radius: 40px;
  color: #fff;
  font-size: 25px;
}

.specialOffers .arrow_button.arr_right {
  right: auto;
  left: calc(50% + 220px);
  transform: translateX(-50%);
}
.specialOffers .arrow_button.arr_left {
  right: auto;
  left: calc(50% - 220px);
  transform: translateX(-50%);
}
.specialOffers .arrow_button {
  top: auto;
  bottom: 120px;
}

.offer_item {
  opacity: 0;
  transition: 0.4s;
}
.swiper-slide-active .offer_item {
  opacity: 1;
}
.specialOffers .swiper-container-horizontal > .swiper-pagination-bullets,
.specialOffers .swiper-pagination-custom,
.specialOffers .swiper-pagination-fraction {
  bottom: 85px;
}
.swiper-pagination-bullet-active {
  background: #d68209;
}

@media screen and (max-width: 800px) {
  .specialOffers .blob {
    top: auto;
    bottom: 0;
  }
}
@media screen and (max-width: 600px) {
  .specialOffers .title35 {
    margin-bottom: 10px;
  }
  .specialOffers .arrow_button {
    bottom: -109px;
  }
  .specialOffers .arrow_button.arr_right {
    left: auto;
    right: 0;
    transform: none;
  }
  .specialOffers .arrow_button.arr_left {
    right: auto;
    left: 0;
    transform: none;
  }
  .special_slider {
    width: 100%;
  }
}
