/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

.hero_section .slide_img {
    width: auto;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
    max-height: 320px;
}
.hero_section .hero_slider {
    padding-right: 35px;
    text-align: center;
}
.hero_section .hero_slider p {
    -webkit-transition: 1.2s;
    -o-transition: 1.2s;
    transition: 1.2s;
    margin: 20px 0;
    text-align: justify;
}
.hero_section .hero_slider .content {
    -webkit-transition: 1.2s;
    -o-transition: 1.2s;
    transition: 1.2s;
    max-width: 600px;
    margin-left: 30px;
}
.hero_section .slick-active p {
}
.slick-slide.slick-active {
    z-index: 999;
}
.hero_section .slide {
    padding: 45px 0;
    padding-top: 100px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: flex-start;
}
.hero_section .title35 {
    margin-top: 0 !important;
}

@media screen and (max-width: 1200px) {
    .hero_section .slide p {
        margin: 14px 0;
    }

    .hero_section .content {
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 1000px) {
    .hero_section .slide {
        -webkit-box-orient: vertical;
        flex-direction: column;
        padding-top: 70px;
    }
    .hero_section .slide_img {
        max-height: none;
        margin-bottom: 20px;
    }
    .hero_section .slide {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .hero_section .hero_slider {
        text-align: center;
        padding-right: 0;
    }
    .hero_section .arrow_button {
        top: 130px;
        transform: none;
        bottom: auto;
    }
    .hero_section .arrow_button.arr_right {
        right: -12px;
    }
    .hero_section .arrow_button.arr_left {
        left: -12px;
    }
    .hero_section .slick-prev {
        left: -8px;
    }
    .hero_section .slick-next {
        right: -8px;
    }
    .hero_section .slick-prev,
    .hero_section .slick-next {
        top: 134px !important;
        transform: none !important;
        bottom: auto !important;
    }
    .hero_section .hero_slider .content {
        margin-left: 0;
    }
}

@media screen and (max-width: 420px) {
    .hero_section .slide {
        padding-top: 60px;
    }
}
