/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

.singleProduct {
    overflow: hidden;
}
.singleProduct .ferma_section .img {
    display: none;
}
.singleProduct .showcase {
    padding-top: 25px;
}
.singleProduct .showcase .img.large {
    display: none;
}
.singleProduct .showcase .large.show {
    display: block;
    width: 100%;
    height: 400px;
}
.singleProduct .showcase .img img {
    object-fit: cover;
}
.singleProduct .showcase .img.small {
    width: 90px;
    height: 90px;
    margin: 0 2px;
}
.singleProduct .title50.on_mobile {
    display: none;
}
.singleProduct .showcase .main {
    width: 1044px;
    margin: 90px auto;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-start;
}
.singleProduct .showcase .main .details {
    width: 60%;
    margin-left: 50px;
}
.singleProduct .title50::after {
    display: none;
}
.singleProduct .title50::before {
    width: 114vw;
}
.singleProduct .showcase .main .details .green {
    font-size: 20px;
    margin-bottom: 15px;
}
.singleProduct .showcase .main .details p {
    margin-bottom: 30px;
}
.singleProduct .showcase .main .images {
    width: 40%;
    margin-top: 112px;
}
.singleProduct .cards_sec {
    background-color: #fefbec;
}
.singleProduct .cards_sec .wrapper {
    padding: 40px 0;
}
.singleProduct .cards_sec .text {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 374px;
}
.singleProduct .recipe {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 100px auto;
}
.singleProduct .recipe .img {
    width: 361px;
    height: 420px;
    margin-right: 30px;
    border-radius: 15px;
}
.singleProduct .recipe .context {
    width: 60%;
}
.singleProduct .recipe .fb {
    color: #1e69ff;
    padding: 18px 27px;
    border: 2px solid #1e69ff;
    border-radius: 50px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    margin-top: 30px;
    margin-right: 0;
}
.singleProduct .recipe .fb svg {
    margin-right: 10px;
}

@media screen and (max-width: 1260px) {
    .singleProduct .cards_sec .wrapper {
        padding-top: 200px;
    }
    .singleProduct .cards_sec .text {
        top: 0;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
    .singleProduct .cards_sec .text {
        top: 39px;
        max-width: none;
    }
}
@media screen and (max-width: 1200px) {
    .singleProduct .showcase .main {
        width: 80%;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .singleProduct .showcase .main .images {
        width: 44%;
        margin-top: 97px;
    }
}
@media screen and (max-width: 1000px) {
    .singleProduct .showcase .main {
        -webkit-box-orient: vertical;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .singleProduct .showcase .main .images {
        width: 70%;
        margin-top: 0;
        margin-bottom: 30px;
    }
    .singleProduct .showcase .main .details {
        width: 100%;
        margin-left: 0;
    }
    .singleProduct .arrow_button {
        bottom: auto;
        top: 322px;
    }
    .singleProduct .gradient-bg.rtl::before {
        width: 114vw;
        background: #e6faf1;
        opacity: 0.5;
        left: -128px;
        transform: translateY(-50%);
    }
    .singleProduct .showcase .main .title50 {
        display: none;
    }
    .singleProduct .title50.on_mobile {
        margin-top: 70px;
        display: block;
    }
}
@media screen and (max-width: 800px) {
    .singleProduct .showcase .main {
        margin: 46px auto;
    }
    .singleProduct .arrow_button {
        top: 196px;
    }
    .singleProduct .recipe {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 34px auto;
    }
    .singleProduct .recipe .img {
        width: 100%;
        height: 232px;
        margin-right: 0;
        border-radius: 15px;
    }
    .singleProduct .recipe .context {
        width: 100%;
        margin-top: 40px;
    }
    .singleProduct .ferma_section {
        padding-top: 20px;
    }
}
@media screen and (max-width: 600px) {
    .singleProduct .arrow_button {
        top: 253px;
    }
    .singleProduct .gradient-bg.rtl::before {
        left: -25px;
    }
    .singleProduct .showcase .main {
        width: 100%;
        margin-top: 30px;
    }
    .singleProduct .showcase .img.small {
        width: 80px;
    }
    .singleProduct .title50.on_mobile {
        margin-top: 39px;
    }
}
@media screen and (max-width: 450px) {
    .singleProduct .showcase .large.show {
        height: 300px;
    }
}
