@font-face {
    font-family: "alk-mtav";
    src: url("/assets/fonts/alk-sanet.ttf");
}
@font-face {
    font-family: "bpg-nino";
    src: url("/assets/fonts/bpg_nino_medium.ttf");
}
@font-face {
    font-family: "brushsci";
    src: url("/assets/fonts/BRUSHSCI.ttf");
}
@font-face {
    font-family: "dm-giorgi";
    src: url("/assets/fonts/bpg_ucnobi.ttf");
}
*,
*::after,
*::before {
    font-family: "alk-mtav";
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*::after,
*::before {
    position: absolute;
    content: "";
}
/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #c0d8cd;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #8eafa0;
}
::-webkit-scrollbar-thumb:hover {
    background: #b0ddc9;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: "alk-mtav";
    font-weight: 400;
    line-height: 1.3;
    color: #2f3e51;
    background: #fff;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-size: 16px;
    padding-top: 66px;
}
p {
    font-weight: 100;
    line-height: 1.5;
    font-family: "bpg-nino";
    color: #4a2921;
    text-align: justify;
}
h1 {
    font-weight: 600;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
input,
textarea,
button {
    outline: none;
    border: none;
    background: none;
}
button {
    cursor: pointer;
    outline: none;
}
select {
    border: none;
    outline: none;
}
img {
    height: auto;
    max-width: 100%;
}
.img {
    overflow: hidden;
}
.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.map iframe {
    width: 100%;
    height: 100%;
}
.wrapper {
    width: 1360px;
    height: 100%;
    margin: auto;
    position: relative;
}
.wrapper2 {
    width: 1050px;
    height: 100%;
    margin: auto;
    position: relative;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex.centered {
    justify-content: center;
}
.preloader {
    width: 100vw;
    height: 100vh;
    background-color: #8eafa0;
    flex-direction: column;
    margin-top: -66px;
}
.preloader img {
    margin-bottom: 30px;
}
.css-10p2e9r {
    transform: translateX(-14px) !important;
}
.slick-prev,
.slick-next {
    background: red !important;
    width: 35px !important;
    height: 35px !important;
    z-index: 200;
    opacity: 0;
}

.bpg {
    font-family: "bpg-nino";
}
.cursive {
    font-family: "dm-giorgi" !important;
}
.title35 {
    font-size: 30px;
}
.title50 {
    font-size: 50px;
    width: fit-content;
    position: relative;
    margin-bottom: 40px;
}
.title50::after {
    width: 100%;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    background-color: #acd3c1;
}
.green {
    color: #8eafa0;
}
.op05 {
    opacity: 0.5;
}
.gradient-bg {
    position: relative;
}
.gradient-bg::before {
    width: 100vw;
    z-index: -1;
    background: #e6faf1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.gradient-bg.rtl::before {
    width: 100vw;
    background: #e6faf1;
    opacity: 0.5;
}
.gradient-bg.h60::before {
    height: 60px;
}
.gradient-bg.h100::before {
    height: 100px;
}

@media screen and (max-width: 1420px) {
    .wrapper {
        width: 95%;
    }
    .title35 {
        font-size: 30px;
    }
}
@media screen and (max-width: 1200px) {
    body {
        font-size: 14px;
    }
    .title35 {
        font-size: 25px;
    }
    .title50 {
        font-size: 40px;
    }
    .title50::after {
        bottom: -3px;
    }
    .wrapper2 {
        width: 95%;
    }
}
@media screen and (max-width: 900px) {
    .slick-prev,
    .slick-next {
        top: auto !important;
        transform: none !important;
        bottom: 45px !important;
    }
    body {
        padding-top: 50px;
    }
    .preloader {
        margin-top: -50px;
    }
}
@media screen and (max-width: 600px) {
    body {
        padding-top: 50px;
    }
    .title35 {
        font-size: 20px;
    }
    .title50 {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .title50::after {
        bottom: -3px;
    }
    .gradient-bg.h100::before {
        height: 64px;
    }
    .gradient-bg.rtl::before {
        left: 0;
    }
    .form input,
    .form textarea {
        margin-bottom: 7px;
        padding-left: 20px;
    }
}
@media screen and (max-width: 420px) {
    .title35 {
        font-size: 18px;
    }
}
