.search_input {
    position: absolute;
    top: 27px;
    right: 0;
    width: 137px;
    height: 58px;
    transition: 0.3s;
    z-index: 2001;
}
.search_input input {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    opacity: 0;
    transition: 0.3s;
    padding-left: 15px;
    background-color: #fff;
}
.search_input svg {
    position: absolute;
    top: 50%;
    right: 13px;
    transform: translateY(-50%);
}
.search_input.open {
    width: 300px;
}
.search_input.open input {
    opacity: 1;
}
.search_input:hover {
    width: 300px;
}
.search_input:hover input {
    opacity: 1;
}

.pagepath {
    color: #949494;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 43px;
}
.pagepath svg {
    margin: 0 10px;
}

.social_links2 {
    justify-content: flex-start;
}
.social_links2 a {
    margin-left: 13px;
    opacity: 0.3;
    transition: 0.3s;
}
.social_links2 a:hover {
    opacity: 1;
}

@media screen and (max-width: 1000px) {
    .search_input input {
        border-radius: 9px;
        padding-left: 10px;
    }
    .search_input {
        top: 11px;
        width: 131px;
        height: 45px;
        border-width: 1px !important;
    }
}
